# Problem Statement :- 1

Write a Python program to download IMDB's top 50 data (movie name, Initial release, director name and stars

In [1]:
# Loading  Necessary  library 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from datetime import date
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [2]:
# Loading  selenium web driver 
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

In [3]:
driver = webdriver.Chrome( executable_path=r'D:\data science\Ineuron\chromedriver\chromedriver.exe')

In [4]:
#  initialize empty lists where you'll store your data
Movie_Name = []
Initial_release = []
Director_Name = []
Stars = []

In [5]:
# Scraping  Data from  website 
def data_sci(url):
    driver.get(url)
    
    time.sleep(2)
       
    try:
        Task1 =driver.find_elements_by_xpath("//h3/a")
        for i in Task1:
            Movie_Name.append(i.text)
    except:
            Movie_Name.append('  ')

    try:
        Task1 =driver.find_elements_by_xpath("//h3/span[@class='lister-item-year text-muted unbold']")
        for i in Task1:
             Initial_release.append(i.text)
    except:
             Initial_release.append('  ')

    try:
        Task1 =driver.find_elements_by_xpath("//p[@class='text-muted text-small']/a[1]")
        for i in Task1:
              Director_Name.append(i.text)
    except:
              Director_Name.append('  ')

    try:
        Task1 =driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[@class='ipl-rating-star__rating']")
        for i in Task1:
              Stars.append(i.text)
    except:
              Stars.append('  ')
                                

# Calling Function
data_sci('https://www.imdb.com/list/ls055386972/')

In [6]:
x = []
for i  in Initial_release:
    x.append(i.strip('()'))

In [8]:
# Final  Data of IMBD Top 50 movies 
Top_50_Movies_Data = pd.DataFrame({'Movie Name ' : Movie_Name   ,  'Initial Release' : x , 'Director Name'  : Director_Name , 'Stars' : Stars }  )
Top_50_Movies_Data.head(10)

                      Movie Name  Initial Release         Director Name Stars
0                   The Godfather            1972  Francis Ford Coppola   9.2
1                Schindler's List            1993      Steven Spielberg     9
2                    12 Angry Men            1957          Sidney Lumet     9
3               Life Is Beautiful            1997       Roberto Benigni   8.6
4  The Good, the Bad and the Ugly            1966          Sergio Leone   8.8
5        The Shawshank Redemption            1994        Frank Darabont   9.3
6        The Pursuit of Happyness            2006      Gabriele Muccino     8
7                   Seven Samurai            1954        Akira Kurosawa   8.6
8                The Intouchables            2011       Olivier Nakache   8.5
9                 Central Station            1998         Walter Salles     8

In [11]:
# Checking  the length of database 
print(f'Length of Database  Top_50_Movies_Data is :-  {len(Top_50_Movies_Data)}')

Length of Database  Top_50_Movies_Data is :-  50

In [12]:
# Saving  the data is csv format
Top_50_Movies_Data.to_csv("IMBD_Top_50_Movies.csv")

# Problem Statement :- 2

Create a scraper for flipkart that will scrape data for search results
(atleast up to page 2 if available). For example: search for “mobile”
keyword on flipkart and scrape the following parameters from the search
results.
1) Title
2) Ratings
3) Price
4) URL of that item

In [16]:
driver = webdriver.Chrome( executable_path=r'D:\data science\Ineuron\chromedriver\chromedriver.exe')

In [17]:
#Giving name of the website we have to  scrap
url = "https://www.flipkart.com/"

# Getting Url
driver.get(url)

In [ ]:
time.sleep(3)

In [18]:

Task1 =driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
Task1.click()

In [ ]:
time.sleep(3)

In [20]:
# Entering Mobile keyword 
Task2 = driver.find_element_by_xpath("//input[@class='_3704LK']")
Task2.send_keys('Mobile')

In [ ]:
time.sleep(3)

In [21]:
Task3 = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
Task3.click()

In [51]:
#  initialize empty lists where we will store your data
title = []
ratings = []
price = []
url_of_Item = []

In [52]:
# Scraping the data 

    start_page=1
    end_page=11
    
    
    for page in range(start_page,end_page):
                   
                    time.sleep(4)

                    try:
                        Task1 =driver.find_elements_by_xpath("//div[@class='_4rR01T']")
                        for i in Task1[:23]:
                            title.append(i.text)
                    except:
                            title.append('  ')

                    try:
                        Task1 =driver.find_elements_by_xpath("//div[@class='_3LWZlK']")
                        for i in Task1[:23]:
                             ratings.append(i.text)
                    except:
                             ratings.append('  ')

                    try:
                        Task1 =driver.find_elements_by_xpath("//div[@class='_30jeq3 _1_WHN1']")
                        for i in Task1[:23]:
                              price.append(i.text)
                    except:
                              price.append('  ')
        
                    urls=driver.find_elements_by_xpath("//a[@class='_1fQZEK']")

                    for i in urls[:23]:
                         url_of_Item.append(i.get_attribute('href'))        
                    
                    
                                     
                    time.sleep(3)
                    nxt_button1=driver.find_element_by_xpath("//span[text()='Next']").click()

In [53]:
# Checking  length of each variable
print(len(title))
print(len(ratings))
print(len(price))
print(len(url_of_Item))

230
230
230
230

In [54]:
# Final  Mobile data 
Mobile_Data = pd.DataFrame({'Mobile Name ' : title   ,  'Rating Of Mobile' : ratings , 'Price'  : price , 'link' : url_of_Item }  )
Mobile_Data.head(20)

,Mobile Name,Rating Of Mobile,Price,link
0,"APPLE iPhone 11 (Black, 128 GB)",4.6,"₹42,999",https://www.flipkart.com/apple-iphone-11-black...
1,"OPPO K10 (Blue Flame, 128 GB)",4.4,"₹13,990",https://www.flipkart.com/oppo-k10-blue-flame-1...
2,"OPPO K10 (Black Carbon, 128 GB)",4.4,"₹13,990",https://www.flipkart.com/oppo-k10-black-carbon...
3,"POCO C31 (Royal Blue, 64 GB)",4.3,"₹7,999",https://www.flipkart.com/poco-c31-royal-blue-6...
4,"SAMSUNG Galaxy F22 (Denim Black, 128 GB)",4.3,"₹12,499",https://www.flipkart.com/samsung-galaxy-f22-de...
5,"realme 9 (Stargaze White, 128 GB)",4.4,"₹16,999",https://www.flipkart.com/realme-9-stargaze-whi...
6,"APPLE iPhone 11 (White, 128 GB)",4.6,"₹43,999",https://www.flipkart.com/apple-iphone-11-white...
7,"realme 9 (Meteor Black, 128 GB)",4.4,"₹16,999",https://www.flipkart.com/realme-9-meteor-black...
8,"vivo T1X (Gravity Black, 64 GB)",4.5,"₹11,999",https://www.flipkart.com/vivo-t1x-gravity-blac...
9,"vivo T1X (Space Blue, 64 GB)",4.5,"₹11,999",https://www.flipkart.com/vivo-t1x-space-blue-6...
10,"SAMSUNG Galaxy F22 (Denim Blue, 128 GB)",4.3,"₹12,499",https://www.flipkart.com/samsung-galaxy-f22-de...
11,"SAMSUNG Galaxy F22 (Denim Blue, 64 GB)",4.3,"₹10,499",https://www.flipkart.com/samsung-galaxy-f22-de...
12,"realme C30s (Stripe Blue, 32 GB)",4.3,"₹6,999",https://www.flipkart.com/realme-c30s-stripe-bl...
13,"APPLE iPhone 11 (Purple, 128 GB)",4.6,"₹42,999",https://www.flipkart.com/apple-iphone-11-purpl...
14,"vivo T1X (Gravity Black, 128 GB)",4.5,"₹12,999",https://www.flipkart.com/vivo-t1x-gravity-blac...
15,"vivo T1X (Space Blue, 128 GB)",4.5,"₹12,999",https://www.flipkart.com/vivo-t1x-space-blue-1...
16,"SAMSUNG Galaxy F22 (Denim Black, 64 GB)",4.3,"₹10,499",https://www.flipkart.com/samsung-galaxy-f22-de...
17,"APPLE iPhone 13 (Midnight, 128 GB)",4.7,"₹62,999",https://www.flipkart.com/apple-iphone-13-midni...
18,"MOTOROLA e40 (Carbon Gray, 64 GB)",4.1,"₹8,599",https://www.flipkart.com/motorola-e40-carbon-g...
19,"realme 9 (Stargaze White, 128 GB)",4.4,"₹17,999",https://www.flipkart.com/realme-9-stargaze-whi...

In [56]:
# Checking Length of Database  
print(f'Length of Mobile_Data  :- {len(Mobile_Data)}')

Length of Mobile_Data  :- 230

In [57]:
# Saving  the data is csv format
Mobile_Data.to_csv("flipkart_Mobile_data.csv")

# *** End ***